@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    font-family: "Manrope", serif;
    font-weight: 800;
    font-style: normal;
  } 
  main {
    min-height: 100vh;
  } 
  .quoteText {
    font-size: 28px;
  }
  .adviceBox {
    box-shadow: 1px 3px 50px hsl(220, 26%, 14%);
  }
  .adviceNo {
    letter-spacing: 0.3em;
  }
  .diceButton {
    transition-duration: 0.2s;
  }
  .diceButton:hover {
    box-shadow: 0 0 20px 2px hsl(150, 100%, 66%);
  }
}

@media (min-width: 375px) {
  .adviceBox {
    width: 350px;
  }
}

@media (min-width: 800px) {
  .adviceBox {
    width: 500px;
  }
}

@media (min-width: 1440px) {
  .adviceBox {
    width: 600px;
  }
}
